<h2><%= @new_space.name %></h2>

<p> <%= @new_space.description %> </p>

<p> <%= @new_space.daily_price %> </p>

<form action="/listings">
	<input type="submit" value="My Listings" />
</form>

<form action="/welcome">
	<input type="submit" value="All Listings" />
</form>

<form action="/bookings/request" method="post">
<% @dates.each do |date|%>
<tr>
	<td><%= date %></td>
	<td><input type="radio" name= "<%= date %>" value="<%= date %>" />
</tr>
<% end %>
<input type="submit" value="Request booking" />
</form>
